.clues {
    position: relative;
    width: 100%;
}

.clue {
    padding: 6px 12px;
    margin: 0 -12px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 2px;
}

.clue:hover, .clue.selected {
	background-color: #ccc;
}

.index {
	font-weight: 900;
}