
<div 
	id="track"
	#container
	oncontextmenu="return false"
	(mousedown)="onKeyDown($event)"
  (mouseup)="onKeyUp($event)"></div>
  <div>
    <button (click)="save()">save track</button>
  </div>
  <div *ngIf="_isSaved">
    track is saved!
  </div>


