/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

 html,
 body {
   margin: 0;
   padding: 0;
   overflow-x: hidden;
 }

 * {
   box-sizing: border-box;
 }

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1, h2, h3 {
    font-family: 'Lilita One', 'cursive';
}

button {
	background-color: #d9d9d9;
	border: none;
	color: #605F5E;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-right: 10px;
	border-radius: 50px;
	box-shadow: 0 2px 12px rgba(0,0,0,0.1);
	cursor: pointer;
	transition: all ease 0.4s;
}

button:hover, button.active {
	background-color: #0099dd;
	box-shadow: 0 2px 12px rgba(0,0,0,0.6);
	color: #fff;
}

button:focus {
	outline: 0px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.inline-box {
	display: flex;
	justify-content: center;
}

.box {
    background-color: #fff;
    padding: 20px 30px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.08);
    border-radius: 6px;
	margin-bottom: 20px;
	margin-right: 20px;
}

.input-row {
    padding: 5px 0 15px;
}
