<main>

    <header class="header">
      <div class="header-background">
        <span class="stripe-1"></span>
        <span class="stripe-2"></span>
        <span class="stripe-3"></span>
        <span class="stripe-4"></span>
      </div>
      <div class="container">
        <div id="header-content">
          <h1 class="big-title">Crossword</h1>
          
        </div>
      </div>
    </header>
  
    <div class="container">
			<div class="inline-box">
				<div class="box">
					<app-clues></app-clues>
        </div>
        
        <div>
          <div class="box">
            <b>Mode: </b>{{selectedMode}}
            <div *ngIf="selectedMode === 'Two Players'">
              <b>Playing against: </b> Other player's name
            </div>
          </div>
          <div class="box">
            <div (clickOutside)="unselect()">
              <app-grid></app-grid>
            </div>
          </div>
        </div>

			</div>
    </div>

    <app-mode></app-mode>
  
  </main>
  