#header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 40px;
}

.header-background {
    position: absolute;
    top: -4px;
    left: 0;
    right: 0;
    bottom: 0;

    height: 700px;
    width: 100%;
    background-color: #FE4A49;

    transform: skewX(-6deg) rotate(-6deg);
    transform-origin: 0;
    z-index: -1;
    overflow-y: hidden;

    display: grid;
    grid: repeat(2, 200px)/1fr minmax(0, 860px) 1fr;
    align-content: space-between;

}

.header-background .stripe-1 {
   background-image: linear-gradient(90deg, #FE4A49, #F47E7D);
}
.header-background .stripe-2 {
   background-image: linear-gradient(90deg, #FE4A49, #F7B436);
}
.header-background .stripe-3 {
   background-image: linear-gradient(90deg, #FE4A49, #E33736);
   grid-row: 2;
   grid-column: 2;
}
.header-background .stripe-4 {
   background-image: linear-gradient(90deg, #FE4A49, #F8855A);
   grid-row: 2;
   grid-column: 3;
}

.center-box {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
