.grid {
	display: inline-block;
	position: relative;
    border: 1px solid #333;
}

.row {
	display: flex;
}

.square {
	position: relative;
	height: 50px;
	width: 50px;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
}
.square.selected{
    background-color: #aaa;
    
}

.square.is-black {
    background-color: #000;
    color: #000;
    pointer-events: none;
}

.col {
	position: relative;
}

.col input {
    text-align: center;
}

.col input:focus{
    outline: none;
    border: 3px solid black;
}

.col input:disabled {
    background-color: #41D63B;
}

.indexes {
	position: absolute;
	top: 6px;
	left: 6px;
}

.small-index {
	font-size: 10px;
}

.other-player{
    background-color: #6EAEC9; 
}

.col input:disabled.other-player{
    background-color: #3BD674; 
}